{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "rallycoding",
        "plugin:react/recommended"
    ],
    "rules": {
        "react/require-extension": "off",
        "import/no-named-as-default": "off"
        // overrides
    }
}